#root, body{
  background-color: #171717;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-container {
  flex-shrink: 0;
}

.dynamic-content {
  width: 85%;
  margin: 0 auto;
  padding: 30px;
  overflow-y: auto;
}
