.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.chat-messages {
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-messages p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.chat-input {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.chat-textbox {
  font-size: 1rem;
}

.chat-messages, .chat-textbox {
  flex: 1;
  border-radius: 5px;
  padding: 10px;
  /* background-color: #ffffff; */
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  color: grey;
}

.chat-textbox{
  background-color: #1f1f1f;
  border: none;
  /* margin-bottom: 5px; */
}
.chat-textbox:focus {
  outline: none;
}
